body {
    background-color: rgb(18, 134, 18);
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

#button {
    background-color: rgb(16, 212, 26);
    border: 2px solid rgb(70, 18, 18);
}

#button :hover {
    background-color: rgb(26, 158, 48);
    border: 2px solid rgb(133, 30, 30);
    font-style: italic;
    font-size: 15px;
    font-weight: 700;
}
