
 div{
    width: 250px;
    height: 250px;
    border: 2px solid green;
    background-color: chartreuse;
} 

.display{
    width: 250px;
    height: 250px;
    border:5px solid red;
}


.paragraph{
    color: red;
}
.new-class{
    color: yellowgreen;
}
img{
    width: 100px;
    height: 100px;
}

