
 div{
    width: 250px;
    height: 250px;
    border: 30px solid red;
    background-color: chartreuse;
    padding: 30px;
    margin: 3px;
    overflow: auto;
} 

.paragraph{
    color: red;
}
.new-class{
    color: yellowgreen;
}
img{
    width: 100px;
    height: 100px;
}

